target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/node_modules/
/rocksdb-data/
/rocksdb-data1769435453177/
/rocksdb-data1769435458840/
/rocksdb-data1769435478986/
/rocksdb-data1769435481570/
/rocksdb-data1769435542661/
/rocksdb-data1769435544382/
/rocksdb-data1769435547170/
/rocksdb-data1769435648491/
/rocksdb-data1769435648538/
/rocksdb-data1769435648558/
/logs_dailyChk/
